
html, body {
	padding: 0;
	margin: 0;
	background-color: #292525;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.pane-top {
	width: 100%;
	min-width: 100px;
	float: top; 
	margin: 5px; 
	background-color: #1d1f21;
}


.pane-left {
	width: 20%;
	min-width: 100px;
	float: left;
	margin-left: 5px;
	border-style: solid;
	padding: 0;
}

.pane-left-input {
	width: 100%;
	min-width: 100px;
	overflow: auto;
	float: top;
	margin-left: 5px;
}

.pane-left-list {
	width: 100%;
	min-width: 100px;
	height: 80%;
	overflow: auto;
	float: top;
	margin-left: 5px;
}

.form-control {
	margin-left: 0px;
	margin-right: 0px;
	background-color: #7e878a;
	
}

.main-pane {
	padding: 5px;
	float: left; 
	border-style: none; 
	height: 80%; 
	width: 70%;
}
