{% extends "base.html" %}

{% block content %}

	<style> <!-- wyświetlanei numeracji każdej linii -->
	li.L0, li.L1, li.L2, li.L3,
	li.L5, li.L6, li.L7, li.L8 {
	  list-style-type: decimal !important;
	}
	</style>

	<div>
	
		<ul id="maintList" style="list-style-type:none; padding: 5px; margin-left: 0px; margin-top: 0px" >
			{% for post in list %}
				<li>
					<button class="copy-button" type="button" onmouseup="toClipboard(this)">
						C
					</button>
					<pre class="prettyprint linenums:1" >
						<p style="padding: 10px">{{ content[post] }}</p>
					</pre>
				</li>
			{% endfor %}
		</ul>
		
	</div>
	
	<script>
		function toClipboard(caller){
			//ul = document.getElementById("maintList");
			//li = ul.getElementsByTagName("li");
			//a = li[0].getElementsByTagName("button")[0];
			
			a = caller.parentElement.getElementsByTagName("pre")[0];
			b = a.getElementsByTagName("p")[0];
			txtValue = b.textContent || b.innerText;
			//alert(txtValue);
			
			ta = document.createElement("textarea"); 
			ta.textContent = txtValue; 
			document.body.appendChild(ta); ta.select(); document.execCommand("copy"); document.body.removeChild(ta);
			
		}
	</script>
	
	
{% endblock %}
